# ---------------------------------------------------------------------------
# ZeroQuarry HTTP API specification
#
# SCOPE
# -----
# This file documents the **public JSON API** at https://api.zeroquarry.com.
# An API gateway sits in front of the Flask app and rewrites
#   https://api.zeroquarry.com/v1/...   →   <backend>/api/v1/...
# so the spec describes paths from the consumer's perspective (no `/api/`
# prefix on path entries). Server-rendered HTML routes (`/`, `/login`,
# `/projects/...`, `/disclosures/...`, etc.) and superadmin routes (`/admin/*`)
# are intentionally NOT documented here — they're internal.
#
# MAINTENANCE
# -----------
# KEEP THIS SPEC IN SYNC WITH the JSON routes under `/api/v1/...`.
# Most live in routes/api.py; one (`GET /api/v1/search`) lives in
# routes/search.py alongside its HTML sibling. Any change to the JSON
# surface MUST be reflected here in the same commit. Reviewers should
# reject API-touching PRs without a matching spec change.
# ---------------------------------------------------------------------------
openapi: 3.1.0
info:
  title: ZeroQuarry API
  version: "1.0.0"
  summary: >
    JSON API for ZeroQuarry — programmatic access for CI pipelines and
    third-party integrations.
  description: |
    All endpoints below are reached at `https://api.zeroquarry.com`. A gateway
    rewrites `/v1/...` onto the backend's `/api/v1/...`, so the paths in this
    spec are the public-facing ones.

    Authentication is by Bearer token minted from `/account/api-keys` on the
    web UI. Tokens look like `zq_<40 url-safe chars>` and act with the role
    of the user who minted them.

    Tier-gated endpoints (disclosures, patches, share creation, auto-fix,
    HackerOne review) return `403` with `{"error": "..."}` when the caller's
    account tier does not include the feature, mirroring the corresponding
    HTML pages. Proof-of-concept artifacts intentionally return `404` when
    artifact generation is unavailable, so callers cannot infer artifact
    existence from the status code.
  contact:
    name: ZeroQuarry
  license:
    name: Proprietary

servers:
  - url: https://api.zeroquarry.com
    description: Public API (gateway-fronted; rewrites `/v1/...` → backend `/api/v1/...`).

tags:
  - name: identity
    description: Caller-identity sanity check.
  - name: projects
    description: Project CRUD.
  - name: scans
    description: Create and manage scans.
  - name: reports
    description: Read-only views of completed scans + report exports.
  - name: disclosures
    description: Responsible-disclosure tracker (tier-gated).
  - name: patches
    description: LLM-generated fix patches for findings (tier-gated).
  - name: search
    description: Account-scoped full-text search across projects, scans, findings, repos, and disclosures.
  - name: stream
    description: Server-Sent Events for live scan logs.
  - name: schedules
    description: Periodic scheduled rescans (per-lineage).
  - name: shares
    description: Share links for findings. Creation is tier-gated; listing and revocation remain available for auditing after downgrade.
  - name: autofix
    description: GitHub auto-fix bot — generate, approve, and reject patches that get pushed as PRs (tier-gated).
  - name: workers
    description: Data-plane worker registration, heartbeat, and queue claims.

# ---------------------------------------------------------------------------
# Reusable components
# ---------------------------------------------------------------------------
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: zq_ token
      description: >
        API key minted from `/account/api-keys` on the web UI. Keys look like
        `zq_<40 url-safe chars>` and act with the role of the user who minted
        them.
    workerAuth:
      type: apiKey
      in: header
      name: X-ZQ-Worker-Signature
      description: >
        HMAC-signed worker request. Also send X-ZQ-Worker-Id,
        X-ZQ-Worker-Timestamp, and X-ZQ-Worker-Nonce.

  parameters:
    ScanId:
      name: scan_id
      in: path
      required: true
      schema: { type: string }
    FindingId:
      name: finding_id
      in: path
      required: true
      schema: { type: string }
    PatchId:
      name: patch_id
      in: path
      required: true
      schema: { type: string }
    ProjectId:
      name: project_id
      in: path
      required: true
      schema: { type: string }
    DiscId:
      name: disc_id
      in: path
      required: true
      schema: { type: string }
    ProposalId:
      name: proposal_id
      in: path
      required: true
      schema: { type: string }
    ShareId:
      name: share_id
      in: path
      required: true
      schema: { type: string }

  responses:
    NoContent:
      description: Success with no body.
    NotFound:
      description: Resource not found or not visible to the caller.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
    Forbidden:
      description: Authenticated, but not allowed (tier / role / ownership).
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
    BadRequest:
      description: Malformed request — missing or invalid fields.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
    Unauthorized:
      description: Missing or invalid bearer token.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
    Conflict:
      description: Conflict with current resource state.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
    PaymentRequired:
      description: Tier limit (concurrent scans, monthly tokens, disk, ...) exceeded.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }

  schemas:
    Error:
      type: object
      required: [error]
      properties:
        error: { type: string, description: Human-readable failure reason. }

    Project:
      type: object
      properties:
        id:         { type: string }
        name:       { type: string }
        account_id: { type: string }
        is_default: { type: boolean }
        created_at: { type: [string, "null"], format: date-time }

    ScanTarget:
      type: object
      properties:
        kind:       { type: string, enum: [git, upload, path, url] }
        value:      { type: string }
        git_commit: { type: [string, "null"] }

    Scan:
      type: object
      properties:
        id:             { type: string }
        status:         { type: string, enum: [queued, running, completed, failed, cancelled, awaiting_batch] }
        mode:           { type: string, enum: [source, binary, remote] }
        model:          { type: string }
        name:           { type: [string, "null"] }
        created_at:     { type: string, format: date-time }
        updated_at:     { type: [string, "null"], format: date-time }
        started_at:     { type: [string, "null"], format: date-time }
        completed_at:   { type: [string, "null"], format: date-time }
        summary:        { type: [string, "null"] }
        project_id:     { type: [string, "null"] }
        lineage_id:     { type: [string, "null"] }
        version:        { type: integer }
        parent_scan_id: { type: [string, "null"] }
        targets:
          type: array
          items: { $ref: "#/components/schemas/ScanTarget" }

    SeverityCounts:
      type: object
      additionalProperties: { type: integer }
      description: >
        Map of severity label (`critical` / `high` / `medium` / `low` / `info`)
        to count. Only non-zero entries are included.

    Finding:
      type: object
      properties:
        id:               { type: string }
        scan_id:          { type: string }
        title:            { type: string }
        severity:         { type: string, enum: [critical, high, medium, low, info] }
        severity_score:   { type: number }
        confidence_score: { type: number }
        vuln_type:        { type: [string, "null"] }
        source:           { type: [string, "null"] }
        description:      { type: [string, "null"] }
        cve_refs:
          type: array
          items: { type: string }
        cvss_vector:      { type: [string, "null"] }
        fingerprint:      { type: [string, "null"] }
        h1_status:        { type: [string, "null"] }
        vendor_verdict:   { type: [string, "null"] }
        rebuttal_result:  { type: [string, "null"] }
        created_at:       { type: string, format: date-time }
        updated_at:       { type: [string, "null"], format: date-time }

    Disclosure:
      type: object
      properties:
        id:              { type: string }
        finding_id:      { type: string }
        scan_id:         { type: string }
        status:          { type: string, enum: [active, completed, abandoned] }
        reported_at:     { type: [string, "null"], format: date }
        vendor_ack_at:   { type: [string, "null"], format: date }
        vendor_fix_at:   { type: [string, "null"], format: date }
        public_at:       { type: [string, "null"], format: date }
        closed_at:       { type: [string, "null"], format: date }
        reported_to:     { type: [string, "null"] }
        report_url:      { type: [string, "null"], format: uri }
        bounty_amount:   { type: [number, "null"] }
        bounty_currency: { type: string }
        credit_given:    { type: boolean }
        credit_text:     { type: [string, "null"] }
        credit_url:      { type: [string, "null"], format: uri }
        notes:           { type: [string, "null"] }
        created_at:      { type: string, format: date-time }
        updated_at:      { type: string, format: date-time }

    DisclosureEvent:
      type: object
      properties:
        id:            { type: integer }
        disclosure_id: { type: string }
        event_type:    { type: string, description: "ack | fix | public | closed | bounty | credit | reported | note" }
        event_date:    { type: string, format: date }
        detail:        { type: [string, "null"] }
        created_at:    { type: string, format: date-time }

    Patch:
      type: object
      properties:
        id:            { type: string }
        finding_id:    { type: string }
        scan_id:       { type: string }
        version:       { type: integer }
        feedback:      { type: [string, "null"] }
        summary:       { type: [string, "null"] }
        file_path:     { type: [string, "null"] }
        model:         { type: string }
        patch_content: { type: string, description: Unified-diff payload (only on detail/list responses with content). }
        created_at:    { type: string, format: date-time }

    NonIssue:
      type: object
      properties:
        id:     { type: integer }
        label:  { type: string }
        detail: { type: [string, "null"] }

    SearchHit:
      type: object
      properties:
        entity_type: { type: string, enum: [project, scan, finding, repo, disclosure] }
        entity_id:   { type: string }
        title:       { type: string }
        url:         { type: string, description: Server-rendered HTML URL for the entity (web UI). }
        context:     { type: [string, "null"], description: Short bucket-specific context line (e.g. severity for findings). }
        snippet:     { type: string, description: HTML snippet with `<mark>` highlights around matched terms. }
        label:       { type: string, description: Friendly bucket label (e.g. "Findings"). }
        icon:        { type: string, description: Material Symbols icon name for the bucket. }

    Schedule:
      type: object
      description: >
        Periodic-rescan schedule for a scan lineage. Resolved from a
        `scan_id` because callers usually have the scan handy; the row
        itself is keyed by `lineage_id`.
      properties:
        lineage_id:   { type: string }
        account_id:   { type: string }
        enabled:      { type: boolean }
        cadence:      { type: string, enum: [daily, weekly, monthly] }
        rescan_mode:  { type: string, enum: [update, update_diff] }
        day_of_week:  { type: [integer, "null"], minimum: 0, maximum: 6, description: "0=Sunday..6=Saturday (weekly cadence only)." }
        day_of_month: { type: [integer, "null"], minimum: 1, maximum: 28, description: "Capped at 28 so February doesn't silently skip." }
        hour:         { type: integer, minimum: 0, maximum: 23 }
        minute:       { type: integer, minimum: 0, maximum: 59 }
        tz:           { type: string, description: IANA timezone (e.g. "America/Los_Angeles"). }
        next_run_at:  { type: [string, "null"], description: Naive UTC ISO-8601 timestamp. NULL when `enabled` is false. }
        last_run_at:  { type: [string, "null"] }
        last_status:  { type: [string, "null"], enum: [ran, skipped_nochange, failed, null] }
        last_commit:  { type: [string, "null"] }
        last_message: { type: [string, "null"] }

    Share:
      type: object
      properties:
        id:                 { type: string }
        account_id:         { type: string }
        recipient_email:    { type: string }
        message:            { type: [string, "null"] }
        expires_at:         { type: string, format: date-time }
        revoked_at:         { type: [string, "null"], format: date-time }
        created_at:         { type: string, format: date-time }
        updated_at:         { type: string, format: date-time }
        created_by_user_id: { type: [string, "null"] }
        finding_count:      { type: [integer, "null"] }
        view_count:         { type: [integer, "null"] }

    AutofixProposal:
      type: object
      description: >
        A staged auto-fix patch produced by the restricted-agent pipeline.
        Lifecycle: `staged` → `approved`/`rejected`/`failed`/`superseded`,
        with `pushed` as the success terminal once the PR is open.
      properties:
        id:                   { type: string }
        account_id:           { type: string }
        scan_id:              { type: string }
        finding_id:           { type: string }
        finding_fingerprint:  { type: [string, "null"] }
        repo_slug:            { type: [string, "null"], description: "`owner/repo` of the GitHub repo (NULL for upload-only scans)." }
        base_branch:          { type: [string, "null"] }
        branch_name:          { type: [string, "null"] }
        status:               { type: string, enum: [staged, approved, pushed, rejected, failed, superseded] }
        model:                { type: [string, "null"] }
        summary:              { type: [string, "null"] }
        patch_content:        { type: [string, "null"], description: Unified-diff body. NULL on `failed` rows. }
        severity_score:       { type: [number, "null"] }
        size_lines:           { type: [integer, "null"] }
        size_files:           { type: [integer, "null"] }
        error:                { type: [string, "null"], description: Reason a `failed` row was recorded. }
        pr_url:               { type: [string, "null"], format: uri }
        pr_number:            { type: [integer, "null"] }
        decided_at:           { type: [string, "null"], format: date-time }
        decided_by_user_id:   { type: [string, "null"] }
        created_at:           { type: string, format: date-time }

    Worker:
      type: object
      properties:
        id:             { type: string }
        name:           { type: string }
        status:         { type: string, enum: [active, revoked] }
        region:         { type: [string, "null"] }
        capabilities:   { type: object, additionalProperties: true }
        secret_prefix:  { type: string }
        registered_at:  { type: string, format: date-time }
        last_seen_at:   { type: [string, "null"], format: date-time }
        last_seen_ip:   { type: [string, "null"] }
        revoked_at:     { type: [string, "null"], format: date-time }

# All endpoints require the bearer token unless overridden.
security:
  - bearerAuth: []

# ---------------------------------------------------------------------------
# Paths
#
# IMPORTANT: paths below are the consumer-visible URLs. The backend serves
# them under `/api/v1/...`; the gateway strips the `/api` prefix.
# ---------------------------------------------------------------------------
paths:
  # ===========================================================
  # workers
  # ===========================================================
  /v1/workers/register:
    post:
      tags: [workers]
      summary: Register a data-plane worker.
      security: []
      description: Uses the deployment `WORKER_REGISTRATION_TOKEN`; returns the worker secret exactly once.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                registration_token: { type: string }
                name: { type: string }
                region: { type: string }
                capabilities: { type: object, additionalProperties: true }
      responses:
        "201":
          description: Registered worker and one-time secret.
          content:
            application/json:
              schema:
                type: object
                properties:
                  worker: { $ref: "#/components/schemas/Worker" }
                  secret: { type: string }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /v1/workers/heartbeat:
    post:
      tags: [workers]
      summary: Record worker liveness.
      security:
        - workerAuth: []
      responses:
        "200":
          description: Heartbeat accepted.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string }
                  worker: { $ref: "#/components/schemas/Worker" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /v1/workers/me:
    get:
      tags: [workers]
      summary: Inspect the authenticated worker identity.
      security:
        - workerAuth: []
      responses:
        "200":
          description: Worker identity.
          content:
            application/json:
              schema:
                type: object
                properties:
                  worker: { $ref: "#/components/schemas/Worker" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /v1/workers/claim:
    post:
      tags: [workers]
      summary: Claim the next queued scan for this worker.
      security:
        - workerAuth: []
      responses:
        "200":
          description: Claimed scan id, or null if no work is available.
          content:
            application/json:
              schema:
                type: object
                properties:
                  scan_id: { type: [string, "null"] }
        "401": { $ref: "#/components/responses/Unauthorized" }

  # ===========================================================
  # identity
  # ===========================================================
  /v1/whoami:
    get:
      tags: [identity]
      summary: Caller-identity sanity check.
      description: Verify an API key without side-effects. Useful as a CI smoke check.
      responses:
        "200":
          description: Caller identity.
          content:
            application/json:
              schema:
                type: object
                properties:
                  account_id: { type: string }
                  user_id:    { type: [string, "null"] }
                  role:       { type: [string, "null"] }
                  api_key_id: { type: [string, "null"] }
        "401": { $ref: "#/components/responses/Unauthorized" }

  # ===========================================================
  # projects
  # ===========================================================
  /v1/projects:
    get:
      tags: [projects]
      summary: List projects in the caller's account.
      responses:
        "200":
          description: Project list.
          content:
            application/json:
              schema:
                type: object
                properties:
                  projects:
                    type: array
                    items: { $ref: "#/components/schemas/Project" }
        "401": { $ref: "#/components/responses/Unauthorized" }
    post:
      tags: [projects]
      summary: Create a new project. Subject to the tier's `max_projects` cap.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name: { type: string }
      responses:
        "201":
          description: Project created.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Project" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "402": { $ref: "#/components/responses/PaymentRequired" }
        "409": { $ref: "#/components/responses/Conflict" }

  /v1/projects/{project_id}:
    parameters: [ { $ref: "#/components/parameters/ProjectId" } ]
    get:
      tags: [projects]
      summary: Project detail with up to 200 most-recent scans.
      responses:
        "200":
          description: Project + scans.
          content:
            application/json:
              schema:
                type: object
                properties:
                  project: { $ref: "#/components/schemas/Project" }
                  scans:
                    type: array
                    items: { $ref: "#/components/schemas/Scan" }
        "404": { $ref: "#/components/responses/NotFound" }
    patch:
      tags: [projects]
      summary: Rename a project.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name: { type: string }
      responses:
        "200":
          description: Updated project.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Project" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
    delete:
      tags: [projects]
      summary: Delete a project. The default project cannot be deleted; its scans are reassigned to the default project.
      responses:
        "204": { $ref: "#/components/responses/NoContent" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "404": { $ref: "#/components/responses/NotFound" }

  # ===========================================================
  # scans
  # ===========================================================
  /v1/scans:
    get:
      tags: [scans]
      summary: List scans visible to the caller, with optional filters.
      parameters:
        - { name: project_id, in: query, schema: { type: string } }
        - { name: status,     in: query, schema: { type: string, enum: [queued, running, completed, failed, cancelled, awaiting_batch] } }
        - { name: mode,       in: query, schema: { type: string, enum: [source, binary, remote] } }
        - { name: limit,      in: query, schema: { type: integer, minimum: 1, maximum: 200, default: 50 } }
      responses:
        "200":
          description: Scan list (without target details — fetch a single scan for those).
          content:
            application/json:
              schema:
                type: object
                properties:
                  count: { type: integer }
                  scans:
                    type: array
                    items: { $ref: "#/components/schemas/Scan" }
    post:
      tags: [scans]
      summary: Create a new source-mode scan.
      description: |
        Kicks off a scan and returns the scan record. When `auto_delta` is true
        and a prior completed scan exists for the same account + git URL set,
        the server dispatches an `update_diff` rescan instead of a fresh run
        (subsequent CI runs only re-scan changed files).

        `multipart/form-data` is required when attaching uploads. Otherwise,
        a plain JSON body is simpler to generate from `curl`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                mode:               { type: string, enum: [source] }
                git_urls:
                  oneOf:
                    - type: array
                      items: { type: string }
                    - type: string
                      description: Comma- or newline-separated list.
                gits:
                  type: string
                  description: Backward-compatible alias for `git_urls`.
                project_id:         { type: string }
                project_name:       { type: string }
                auto_delta:         { type: boolean, default: true }
                model:              { type: string }
                model_review:       { type: string, description: Optional review-stage model override. }
                model_artifact:     { type: string, description: Optional artifact/patch-stage model override. }
                notes:              { type: string }
                name:               { type: string }
                tags:
                  oneOf:
                    - type: array
                      items: { type: string }
                    - type: string
                      description: Comma-separated list.
                batch_mode:         { type: boolean }
                adversarial_review: { type: boolean }
                git_credential_id:  { type: string }
          multipart/form-data:
            schema:
              type: object
              properties:
                mode:               { type: string, enum: [source] }
                git_urls:           { type: string, description: "Comma- or newline-separated list" }
                gits:               { type: string, description: "Backward-compatible alias for `git_urls`." }
                uploads:
                  type: array
                  items: { type: string, format: binary }
                project_id:         { type: string }
                project_name:       { type: string }
                auto_delta:         { type: boolean }
                model:              { type: string }
                model_review:       { type: string, description: Optional review-stage model override. }
                model_artifact:     { type: string, description: Optional artifact/patch-stage model override. }
                notes:              { type: string }
                name:               { type: string }
                tags:               { type: string }
                batch_mode:         { type: boolean }
                adversarial_review: { type: boolean }
                git_credential_id:  { type: string }
      responses:
        "200":
          description: Idempotent duplicate dispatch suppressed because an identical git scan is already in progress.
          content:
            application/json:
              schema:
                type: object
                properties:
                  scan_id:  { type: string }
                  dispatch: { type: string, enum: [dedup] }
                  message:  { type: string }
        "201":
          description: Scan (or rescan) dispatched.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Scan"
                  - type: object
                    properties:
                      dispatch:       { type: string, enum: [fresh, delta] }
                      parent_scan_id: { type: [string, "null"], description: Present on delta dispatches. }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "402": { $ref: "#/components/responses/PaymentRequired" }
        "403": { $ref: "#/components/responses/Forbidden" }

  /v1/scans/{scan_id}:
    parameters: [ { $ref: "#/components/parameters/ScanId" } ]
    get:
      tags: [scans]
      summary: Look up a scan's status and metadata.
      responses:
        "200":
          description: Scan record.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Scan" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
    patch:
      tags: [scans]
      summary: Update the scan's name, tags, or project assignment.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: [string, "null"] }
                tags:
                  oneOf:
                    - type: array
                      items: { type: string }
                    - type: string
                      description: Comma-separated.
                project_id: { type: string }
      responses:
        "200":
          description: Updated scan.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Scan" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "404": { $ref: "#/components/responses/NotFound" }
    delete:
      tags: [scans]
      summary: Delete a scan and all of its artifacts.
      description: Refuses to delete a scan that's still queued or running — cancel it first.
      responses:
        "204": { $ref: "#/components/responses/NoContent" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }

  /v1/scans/{scan_id}/cancel:
    parameters: [ { $ref: "#/components/parameters/ScanId" } ]
    post:
      tags: [scans]
      summary: Cancel a running or queued scan.
      responses:
        "200":
          description: Scan record after cancellation.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Scan" }
        "404": { $ref: "#/components/responses/NotFound" }

  /v1/scans/{scan_id}/rescan:
    parameters: [ { $ref: "#/components/parameters/ScanId" } ]
    post:
      tags: [scans]
      summary: Re-run an existing scan.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                rescan_mode:
                  type: string
                  enum: [reuse, update, update_diff, fresh]
                  default: reuse
                notes: { type: string }
      responses:
        "201":
          description: New scan dispatched.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Scan"
                  - type: object
                    properties:
                      dispatch:       { type: string, enum: [rescan] }
                      parent_scan_id: { type: string }
        "400": { $ref: "#/components/responses/BadRequest" }
        "404": { $ref: "#/components/responses/NotFound" }

  /v1/scans/{scan_id}/h1-review:
    parameters: [ { $ref: "#/components/parameters/ScanId" } ]
    post:
      tags: [scans]
      summary: Trigger a HackerOne-eligibility review against the scan's current findings.
      description: >
        Tier-gated. Requires both `allow_disclosure_tracking` and
        `allow_h1_review` on the active tier, and the scan must have been
        created with disclosure tracking enabled. Runs asynchronously — the
        response confirms the review was started.
      responses:
        "202":
          description: Review started in the background.
          content:
            application/json:
              schema:
                type: object
                properties:
                  scan_id: { type: string }
                  status:  { type: string, enum: [review_started] }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }

  /v1/scans/{scan_id}/clones:
    parameters: [ { $ref: "#/components/parameters/ScanId" } ]
    delete:
      tags: [scans]
      summary: Free the scan's on-disk clone(s) without deleting findings.
      responses:
        "200":
          description: Paths that were freed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  scan_id:        { type: string }
                  deleted_paths:  { type: array, items: { type: string } }
        "404": { $ref: "#/components/responses/NotFound" }

  /v1/scans/{scan_id}/findings:
    parameters: [ { $ref: "#/components/parameters/ScanId" } ]
    get:
      tags: [scans]
      summary: List a scan's findings with a severity-count summary.
      responses:
        "200":
          description: Findings + aggregates.
          content:
            application/json:
              schema:
                type: object
                properties:
                  scan_id:          { type: string }
                  count:            { type: integer }
                  severity_counts:  { $ref: "#/components/schemas/SeverityCounts" }
                  findings:
                    type: array
                    items: { $ref: "#/components/schemas/Finding" }
        "404": { $ref: "#/components/responses/NotFound" }

  # ===========================================================
  # reports — read-only views and exports of completed scans
  # ===========================================================
  /v1/reports/{scan_id}:
    parameters: [ { $ref: "#/components/parameters/ScanId" } ]
    get:
      tags: [reports]
      summary: Report metadata — scan + targets + finding summary + non-issues.
      responses:
        "200":
          description: Report metadata.
          content:
            application/json:
              schema:
                type: object
                properties:
                  scan: { $ref: "#/components/schemas/Scan" }
                  targets:
                    type: array
                    items: { $ref: "#/components/schemas/ScanTarget" }
                  summary:          { type: [string, "null"] }
                  finding_count:    { type: integer }
                  severity_counts:  { $ref: "#/components/schemas/SeverityCounts" }
                  non_issues:
                    type: array
                    items: { $ref: "#/components/schemas/NonIssue" }
        "404": { $ref: "#/components/responses/NotFound" }

  /v1/reports/{scan_id}/findings/{finding_id}:
    parameters:
      - $ref: "#/components/parameters/ScanId"
      - $ref: "#/components/parameters/FindingId"
    get:
      tags: [reports]
      summary: Single-finding detail with full description, CVSS, adversarial-review state, etc.
      responses:
        "200":
          description: Finding.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Finding" }
        "404": { $ref: "#/components/responses/NotFound" }

  /v1/reports/{scan_id}/findings/{finding_id}/poc:
    parameters:
      - $ref: "#/components/parameters/ScanId"
      - $ref: "#/components/parameters/FindingId"
    get:
      tags: [reports]
      summary: Raw proof-of-concept artifact for a finding.
      description: >
        Tier-gated by `allow_artifact_generation`. Tiers without artifact
        generation get a 404 (not 403) so they can't infer artifact
        existence.
      responses:
        "200":
          description: Binary or text PoC payload.
          content:
            application/octet-stream:
              schema: { type: string, format: binary }
        "404": { $ref: "#/components/responses/NotFound" }

  /v1/reports/{scan_id}/findings/{finding_id}/email:
    parameters:
      - $ref: "#/components/parameters/ScanId"
      - $ref: "#/components/parameters/FindingId"
    get:
      tags: [reports]
      summary: Draft disclosure email for a finding (Markdown).
      description: >
        Tier-gated by both `allow_artifact_generation` and
        `allow_disclosure_tracking`. Missing artifact generation returns
        404; missing disclosure tracking returns 403.
      responses:
        "200":
          description: Markdown email draft.
          content:
            text/markdown:
              schema: { type: string }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }

  /v1/reports/{scan_id}/export:
    parameters: [ { $ref: "#/components/parameters/ScanId" } ]
    post:
      tags: [reports]
      summary: Generate a report export in markdown, single-file HTML, or pentester-style PDF.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [format]
              properties:
                format:
                  type: string
                  enum: [markdown, html, pdf]
                sections:
                  type: array
                  items: { type: string }
                  description: >
                    Which report sections to include in the export. Omit to
                    include all available sections. Ignored for PDF (the
                    pentester layout is fixed).
                include_full_findings:
                  type: boolean
                  description: PDF only — include the section-5 per-finding writeups.
                include_rejected:
                  type: boolean
                  default: false
                  description: >
                    When false (the default), findings the vendor marked as
                    `rejected` during adversarial review are dropped from
                    the export — including from the severity-count tables.
                min_confidence:
                  type: number
                  minimum: 0
                  maximum: 1
                  description: >
                    Findings with `confidence_score` below this threshold
                    are dropped. Defaults to the caller's account
                    low-confidence threshold; pass `null` (or the JSON
                    string "") to disable the filter entirely.
      responses:
        "200":
          description: Exported report payload.
          content:
            text/markdown:        { schema: { type: string } }
            text/html:            { schema: { type: string } }
            application/pdf:      { schema: { type: string, format: binary } }
        "400": { $ref: "#/components/responses/BadRequest" }
        "404": { $ref: "#/components/responses/NotFound" }

  # ===========================================================
  # disclosures — tier-gated by allow_disclosure_tracking
  # ===========================================================
  /v1/disclosures:
    get:
      tags: [disclosures]
      summary: List disclosures in the caller's account.
      parameters:
        - { name: status,     in: query, schema: { type: string, enum: [active, completed, abandoned] } }
        - { name: project_id, in: query, schema: { type: string } }
      responses:
        "200":
          description: Disclosure list.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count: { type: integer }
                  disclosures:
                    type: array
                    items: { $ref: "#/components/schemas/Disclosure" }
        "403": { $ref: "#/components/responses/Forbidden" }
    post:
      tags: [disclosures]
      summary: Open a disclosure record for a finding.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [finding_id]
              properties:
                finding_id:      { type: string }
                reported_at:     { type: string, format: date }
                reported_to:     { type: string }
                report_url:      { type: string, format: uri }
                notes:           { type: string }
                bounty_amount:   { type: number }
                bounty_currency: { type: string, default: USD }
                credit_given:    { type: boolean }
                credit_text:     { type: string }
                credit_url:      { type: string, format: uri }
      responses:
        "201":
          description: Created disclosure.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Disclosure" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }

  /v1/disclosures/{disc_id}:
    parameters: [ { $ref: "#/components/parameters/DiscId" } ]
    get:
      tags: [disclosures]
      summary: Disclosure detail with timeline events.
      responses:
        "200":
          description: Disclosure + events.
          content:
            application/json:
              schema:
                type: object
                properties:
                  disclosure: { $ref: "#/components/schemas/Disclosure" }
                  events:
                    type: array
                    items: { $ref: "#/components/schemas/DisclosureEvent" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
    patch:
      tags: [disclosures]
      summary: Update disclosure metadata.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:          { type: string, enum: [active, completed, abandoned] }
                reported_at:     { type: string, format: date }
                vendor_ack_at:   { type: string, format: date }
                vendor_fix_at:   { type: string, format: date }
                public_at:       { type: string, format: date }
                closed_at:       { type: string, format: date }
                reported_to:     { type: string }
                report_url:      { type: string, format: uri }
                bounty_amount:   { type: number }
                bounty_currency: { type: string }
                credit_given:    { type: boolean }
                credit_text:     { type: string }
                credit_url:      { type: string, format: uri }
                notes:           { type: string }
      responses:
        "200":
          description: Updated disclosure.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Disclosure" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
    delete:
      tags: [disclosures]
      summary: Delete a disclosure record.
      responses:
        "204": { $ref: "#/components/responses/NoContent" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }

  /v1/disclosures/{disc_id}/events:
    parameters: [ { $ref: "#/components/parameters/DiscId" } ]
    post:
      tags: [disclosures]
      summary: Append an event to the disclosure's timeline.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [event_type]
              properties:
                event_type:
                  type: string
                  description: "ack | fix | public | closed | bounty | credit | reported | note"
                event_date:
                  type: string
                  format: date
                  description: Defaults to today if omitted.
                detail: { type: string }
      responses:
        "201":
          description: Created event.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/DisclosureEvent" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }

  # ===========================================================
  # patches — tier-gated by allow_patch_generation
  # ===========================================================
  /v1/scans/{scan_id}/findings/{finding_id}/patches:
    parameters:
      - $ref: "#/components/parameters/ScanId"
      - $ref: "#/components/parameters/FindingId"
    get:
      tags: [patches]
      summary: List generated patches for a finding (most recent version first).
      responses:
        "200":
          description: Patch list (no diff bodies — fetch a single patch for those).
          content:
            application/json:
              schema:
                type: object
                properties:
                  count: { type: integer }
                  patches:
                    type: array
                    items: { $ref: "#/components/schemas/Patch" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
    post:
      tags: [patches]
      summary: Generate a new patch (optionally with feedback for revision).
      description: >
        The scan must have on-disk source (i.e. recent enough that clones
        haven't been freed). If the source is gone the call returns 400 —
        re-clone or re-upload first.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                feedback:
                  type: string
                  description: Optional feedback that the agent should incorporate into the next revision.
      responses:
        "201":
          description: Generated patch (with full unified-diff body).
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Patch" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "502":
          description: Patch generation failed in the agent loop.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /v1/scans/{scan_id}/findings/{finding_id}/patches/{patch_id}:
    parameters:
      - $ref: "#/components/parameters/ScanId"
      - $ref: "#/components/parameters/FindingId"
      - $ref: "#/components/parameters/PatchId"
    get:
      tags: [patches]
      summary: Fetch a single patch including its diff body.
      responses:
        "200":
          description: Patch.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Patch" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }

  # ===========================================================
  # search
  # ===========================================================
  /v1/search:
    get:
      tags: [search]
      summary: Full-text search across the caller's projects, scans, findings, repos, and disclosures.
      description: >
        Backed by the FTS5 search index. Used by the global search-box
        dropdown, but also useful programmatically (e.g. find a scan
        by title or a finding by CVE id).

        Empty `q`, or a `q` whose tokens reduce to nothing after
        stripping FTS5-meaningful punctuation, returns an empty result
        set rather than 400. The last token is prefix-matched so partial
        input ("auth" → matches "authentication") behaves the way an
        autocomplete user expects.
      parameters:
        - name: q
          in: query
          required: true
          schema: { type: string }
          description: Free-text query.
        - name: type
          in: query
          schema:
            type: string
            enum: [project, scan, finding, repo, disclosure]
          description: >
            Restrict to a single entity bucket. When omitted, the response
            returns up to `per_group` hits *per* bucket. Unknown values
            return an empty result set (not 400).
        - name: per_group
          in: query
          schema: { type: integer, minimum: 1, maximum: 25, default: 5 }
          description: >
            Cap on hits per bucket when `type` is omitted, or total hits
            when `type` is set.
      responses:
        "200":
          description: Search results grouped by entity type.
          content:
            application/json:
              schema:
                type: object
                properties:
                  query: { type: string }
                  total: { type: integer, description: Sum of hits across all returned buckets. }
                  groups:
                    type: object
                    description: >
                      Map of entity type → list of hits. Empty buckets are
                      omitted (not present as empty arrays).
                    additionalProperties:
                      type: array
                      items: { $ref: "#/components/schemas/SearchHit" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /v1/scans/{scan_id}/findings/{finding_id}/patches/{patch_id}/download:
    parameters:
      - $ref: "#/components/parameters/ScanId"
      - $ref: "#/components/parameters/FindingId"
      - $ref: "#/components/parameters/PatchId"
    get:
      tags: [patches]
      summary: Download the patch as a `.patch` (unified-diff) file.
      responses:
        "200":
          description: Unified-diff payload.
          content:
            text/x-patch:
              schema: { type: string }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }

  # ===========================================================
  # stream — live scan logs
  # ===========================================================
  /v1/scans/{scan_id}/stream:
    parameters: [ { $ref: "#/components/parameters/ScanId" } ]
    get:
      tags: [stream]
      summary: Server-Sent Events stream of live scan logs.
      description: |
        Tails the scan's log buffer over `text/event-stream`. Three event
        types:

          * `status` — emitted once on connect; data is `{"status": "..."}`
          * `log`    — emitted per log row; data is the row record
                       (`id`, `ts`, `level`, `agent`, `message`)
          * `done`   — emitted when the scan reaches a terminal status
                       (`completed`/`failed`/`cancelled`); the stream
                       then closes.

        Each connection is capped at ~120s; clients should reconnect
        with `?since=<last_id>` to resume after the previous final `log`
        event without dropping or duplicating rows.
      parameters:
        - name: since
          in: query
          schema: { type: integer, minimum: 0, default: 0 }
          description: Resume cursor; the highest `id` already received.
      responses:
        "200":
          description: SSE stream.
          content:
            text/event-stream:
              schema: { type: string }
        "404": { $ref: "#/components/responses/NotFound" }

  # ===========================================================
  # schedules — periodic scheduled rescans
  # ===========================================================
  /v1/scans/{scan_id}/schedule:
    parameters: [ { $ref: "#/components/parameters/ScanId" } ]
    get:
      tags: [schedules]
      summary: Read the lineage's schedule (if any).
      responses:
        "200":
          description: "Schedule (or `schedule: null` if none is set)."
          content:
            application/json:
              schema:
                type: object
                properties:
                  lineage_id: { type: string }
                  schedule:   { oneOf: [{ $ref: "#/components/schemas/Schedule" }, { type: "null" }] }
        "400": { $ref: "#/components/responses/BadRequest" }
        "404": { $ref: "#/components/responses/NotFound" }
    put:
      tags: [schedules]
      summary: Set or replace the lineage's schedule.
      description: >
        Pass `enabled: false` to keep the row but stop firing; `DELETE`
        to clear the row entirely. `cadence` and time-of-day fields are
        required when `enabled` is true; the server validates the IANA
        `tz` and clamps `day_of_month` to 28.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                enabled:      { type: boolean }
                cadence:      { type: string, enum: [daily, weekly, monthly] }
                rescan_mode:  { type: string, enum: [update, update_diff] }
                day_of_week:  { type: [integer, "null"], minimum: 0, maximum: 6 }
                day_of_month: { type: [integer, "null"], minimum: 1, maximum: 28 }
                hour:         { type: integer, minimum: 0, maximum: 23, default: 0 }
                minute:       { type: integer, minimum: 0, maximum: 59, default: 0 }
                tz:           { type: string, default: UTC }
      responses:
        "200":
          description: Saved schedule.
          content:
            application/json:
              schema:
                type: object
                properties:
                  lineage_id: { type: string }
                  schedule:   { $ref: "#/components/schemas/Schedule" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "404": { $ref: "#/components/responses/NotFound" }
    delete:
      tags: [schedules]
      summary: Disable + clear the schedule for this lineage.
      responses:
        "204": { $ref: "#/components/responses/NoContent" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "404": { $ref: "#/components/responses/NotFound" }

  # ===========================================================
  # shares — read-only links
  # ===========================================================
  /v1/shares:
    get:
      tags: [shares]
      summary: List the caller's outgoing share links.
      description: Always available to authenticated callers so previously-created shares can be audited after a tier downgrade.
      responses:
        "200":
          description: Share list.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count: { type: integer }
                  shares:
                    type: array
                    items: { $ref: "#/components/schemas/Share" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  /v1/scans/{scan_id}/shares:
    parameters: [ { $ref: "#/components/parameters/ScanId" } ]
    post:
      tags: [shares]
      summary: Mint a new share link covering one or more findings on this scan.
      description: >
        The response is the **only** time the caller sees the bare
        `token` and `password` — both are stored only as hashes. The
        recipient receives an email with the URL + password.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [finding_ids, recipient_email]
              properties:
                finding_ids:
                  type: array
                  items: { type: string }
                  minItems: 1
                recipient_email: { type: string, format: email }
                expiry_days:
                  type: integer
                  minimum: 1
                  default: 30
                  description: Clamped to the tier's `max_share_expiry_days` ceiling.
                password:
                  type: string
                  minLength: 8
                  description: Optional; if omitted, the server generates a 4-word passphrase.
                message:
                  type: string
                  maxLength: 1000
      responses:
        "201":
          description: Share created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:              { type: string }
                  share_url:       { type: string, format: uri, description: Public landing-page URL the recipient pastes into a browser. }
                  token:           { type: string, description: Bare token (one-time-only — store immediately). }
                  password:        { type: string, description: Plain password (one-time-only). }
                  recipient_email: { type: string }
                  expires_at:      { type: string, format: date-time }
                  expiry_days:     { type: integer }
                  finding_ids:
                    type: array
                    items: { type: string }
        "400": { $ref: "#/components/responses/BadRequest" }
        "402": { $ref: "#/components/responses/PaymentRequired" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }

  /v1/shares/{share_id}:
    parameters: [ { $ref: "#/components/parameters/ShareId" } ]
    delete:
      tags: [shares]
      summary: Revoke a share. The token + password stop working on the next access.
      responses:
        "204": { $ref: "#/components/responses/NoContent" }
        "404": { $ref: "#/components/responses/NotFound" }

  # ===========================================================
  # autofix — GitHub auto-fix bot
  #
  # Tier-gated by `allow_github_autofix_bot`. Each proposal lives at the
  # (scan, finding) pair and progresses through:
  #   staged → approved/rejected/failed/superseded
  # with `pushed` as the success terminal once the PR is open. Approving
  # is what calls GitHub; rejecting is local-only.
  # ===========================================================
  /v1/scans/{scan_id}/autofix-proposals:
    parameters: [ { $ref: "#/components/parameters/ScanId" } ]
    get:
      tags: [autofix]
      summary: List auto-fix proposals for this scan, newest first.
      responses:
        "200":
          description: Proposal list.
          content:
            application/json:
              schema:
                type: object
                properties:
                  scan_id: { type: string }
                  count:   { type: integer }
                  proposals:
                    type: array
                    items: { $ref: "#/components/schemas/AutofixProposal" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }

  /v1/scans/{scan_id}/findings/{finding_id}/autofix-proposals:
    parameters:
      - $ref: "#/components/parameters/ScanId"
      - $ref: "#/components/parameters/FindingId"
    post:
      tags: [autofix]
      summary: Generate an auto-fix proposal on demand.
      description: >
        Runs the restricted agent (read-only tools, file deny-list, size
        cap) against the finding and stages a proposal. If an `open`
        proposal already exists for the same fingerprint+repo, that one
        is returned with `200` instead — idempotent on the dev-tool
        path, so a CI loop can safely retry.

        If the agent declined to produce a patch (forbidden file, model
        refusal, …), the response is still `201` with a `failed`-status
        proposal whose `error` carries the reason.
      responses:
        "200":
          description: Existing open proposal returned (idempotent).
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AutofixProposal" }
        "201":
          description: Newly staged proposal (or a `failed` row if the agent declined).
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AutofixProposal" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }

  /v1/autofix-proposals/{proposal_id}/approve:
    parameters: [ { $ref: "#/components/parameters/ProposalId" } ]
    post:
      tags: [autofix]
      summary: Push the proposal as a GitHub PR via the shared ZeroQuarryBot App.
      description: |
        Runs the layered safety stack before the network call:

          1. tier flag is on
          2. account-level kill switch is OFF
          3. proposal is associated with a github.com repo
          4. ZeroQuarryBot App is configured + has access to this repo
             for the calling account (cross-tenant authz boundary)
          5. per-repo kill switch is OFF

        If layer 4 fails because the bot isn't installed on the org/user
        that owns the repo, the response is `403` with
        `reason_code: "not_installed"` and the `repo_slug` to install
        on. The caller should direct the user to `/account/github` to
        complete the install — there's no in-band way to trigger that
        from the API (GitHub's own UI handles consent).

        On a GitHub-side failure (network error, dry-run apply rejected
        the patch, the App's installation token expired or was revoked,
        etc.) the proposal status flips to `failed` and the response
        is `502`.
      responses:
        "200":
          description: "PR opened. Proposal record now has `status: pushed`, `pr_url`, `pr_number`."
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AutofixProposal" }
        "403":
          description: |
            Safety check rejected the push. `reason_code: "not_installed"`
            means the bot isn't installed for this repo; other 403s carry
            no `reason_code` and indicate kill-switch / tier / non-GitHub
            repo failures.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Error"
                  - type: object
                    properties:
                      reason_code: { type: string, enum: [not_installed] }
                      repo_slug:   { type: string }
        "404": { $ref: "#/components/responses/NotFound" }
        "409":
          description: Proposal is not in `staged` state.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "502":
          description: GitHub push failed; proposal was transitioned to `failed`.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "503":
          description: ZeroQuarryBot App is not configured on the server.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /v1/autofix-proposals/{proposal_id}/reject:
    parameters: [ { $ref: "#/components/parameters/ProposalId" } ]
    post:
      tags: [autofix]
      summary: Reject a staged proposal. Not tier-gated.
      responses:
        "200":
          description: Updated proposal (status now `rejected`).
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AutofixProposal" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
